<html>

<head>
  <title>Admin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--primeVue-->
  <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css " rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/primevue.min.css " rel="stylesheet">
  <link href="https://unpkg.com/primeicons/primeicons.css " rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


  <link rel="stylesheet" type="text/css" href="asset/css/main.css">
</head>

<body>
  <div id="app">
    <div class="p-5">
      <template>
        <h3 class="mb-4">FD Details</h3>
        <div class="card border">
          <p-datatable :value="maturityList" :paginator="true" :rows="10"
          paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
          :rows-per-page-options="[10,20,50]"
          current-page-report-template="Showing {first} to {last} of {totalRecords}" edit-mode="row" data-key="id" :editing-rows.sync="editingRows"
            @row-edit-init="onRowEditInit" @row-edit-cancel="onRowEditCancel">

            <p-columnGroup type="header">
              <p-row>
                <p-column header="Maturity Period" :rowspan="2"></p-column>
                <p-column header="Interest rates" :colspan="2"></p-column>
                <p-column header="Action" :rowspan="2"></p-column>
              </p-row>

              <p-row>
                <p-column header="General"></p-column>
                <p-column header="Senior Citizen"></p-column>
              </p-row>
            </p-columnGroup>

            <p-column field="date" header="Maturity Period" sortable>
              <template #editor="slotProps">
                <p-inputtext v-model="slotProps.data[slotProps.column.field]" autofocus></p-inputtext>
              </template>
            </p-column>
            <p-column field="g" header="General" sortable>
              <template #editor="slotProps">
                <p-inputtext v-model="slotProps.data[slotProps.column.field]"></p-inputtext>
              </template>
            </p-column>
            <p-column field="n" header="Senior Citizen" sortable>
              <template #editor="slotProps">
                <p-inputtext v-model="slotProps.data[slotProps.column.field]"></p-inputtext>
              </template>
            </p-column>
            <p-column :row-editor="true" header-style="width:7rem" body-style="text-align:center"></p-column>
            
          </p-datatable>
        </div>
      </template>
    </div>
  </div>



  <script src="https://unpkg.com/vue"></script>

  <!-- vuejs cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

  <script src="https://unpkg.com/primevue@2.3.0/datatable/datatable.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/columngroup/columngroup.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/column/column.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/row/row.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/inputtext/inputtext.umd.min.js"></script>
  <script src="primevue/button.umd.min.js"></script>
  <!-- <script src="service/productService.js"></script> -->



  <script src="servicejs/vue-router.js"></script>
  <script src="servicejs/httpService.js"></script>

  <script src="asset/js/dash.js"></script>
  <style>
    .p-datatable .p-datatable-thead>tr>th {
      text-align: center;
      border-right:1px solid #e9ecef;
    }
    .p-datatable .p-datatable-tbody > tr > td {
      text-align: center;
      padding: 0.5rem 0.5rem;
    }
    
  </style>
</body>

</html>