<html>

<head>
  <title>Admin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--primeVue-->
  <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css " rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/primevue.min.css " rel="stylesheet">
  <link href="https://unpkg.com/primeicons/primeicons.css " rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


  <link rel="stylesheet" type="text/css" href="asset/css/main.css">
</head>

<body>
  <div id="app">
    <div class="p-5">
      <template>
        <h3 class="mb-4">FD Details</h3>     
        <p-toolbar class="mb-2">
          <template #left>
              <p-button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="openNew"></p-button>
          </template>

          <template #right>
            <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <p-inputtext v-model="filters['global']"  placeholder="Search..."></p-inputtext>
              </span>
            </div>
          </template>
        </p-toolbar>
        <div class="card border">
          <p-datatable :value="maturityList" :paginator="true" :rows="10"  :filters="filters"
          paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
          :rows-per-page-options="[10,20,50]"
          current-page-report-template="Showing {first} to {last} of {totalRecords}" edit-mode="row" data-key="id" :editing-rows.sync="editingRows">
            <p-columnGroup type="header">
              <p-row>
                <p-column header="Maturity Period" :rowspan="2"></p-column>
                <p-column header="Interest rates" :colspan="2"></p-column>
                <p-column header="Action" :rowspan="2"></p-row></p-column>
              </p-row>

              <p-row>
                <p-column header="General"></p-column>
                <p-column header="Senior Citizen"></p-column>
              </p-row>
            </p-columnGroup>

            <p-column field="from" header="Maturity Period">
              <template #body="slotProps">
               {{formatDate(slotProps.data.from,slotProps.data.to)}}
              </template>
            </p-column>
            <p-column field="g" header="General">
              <template #body="slotProps">
                {{slotProps.data.generalIntrest}}%
               </template>
            </p-column>
            <p-column field="n" header="Senior Citizen">
              <template #body="slotProps">
                {{slotProps.data.seniorIntrest}}%
               </template>
            </p-column>
            <p-column>
              <template #body="slotProps">
                <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" @click="editProduct(slotProps.data)"></p-button>
                <p-button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="confirmDeleteProduct(slotProps.data)"></p-button>
              </template>
            </p-column>
          </p-datatable>
        </div>
      </template>
    </div>
    <template>
      <p-dialog :visible.sync="productDialog" :style="{width: '450px'}" header="FD Details" :modal="true" class="p-fluid">
        <div class="p-field">
            <label for="from">From</label>
            <p-inputtext id="date" v-model="product.from" required="true" rows="3" cols="20"></p-inputtext>
        </div>
        <div class="p-field">
          <label for="to">To</label>
          <p-inputtext id="date" v-model="product.to" required="true" rows="3" cols="20"></p-inputtext>
      </div>
        <div class="p-field">
          <label for="g">General</label>
          <p-inputtext id="g" v-model="product.generalIntrest" required="true" rows="3" cols="20"></p-inputtext>
        </div>
        <div class="p-field">
          <label for="n">Senior Citizen</label>
          <p-inputtext id="n" v-model="product.seniorIntrest" required="true" rows="3" cols="20"></p-inputtext>
        </div>
        <template #footer>
            <p-button label="Cancel" icon="pi pi-times" class="p-button-text" @click="hideDialog"></p-button>
            <p-button  label="Save" icon="pi pi-check" class="p-button-text" @click="updateProduct"></p-button>
        </template>
      </p-dialog>
        
      <p-dialog :visible.sync="deleteProductDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
          <div class="confirmation-content">
              <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i>
              <span v-if="maturityList">Are you sure you want to delete?</span>
          </div>
          <template #footer>
              <p-button label="No" icon="pi pi-times" class="p-button-text" @click="deleteProductDialog = false"></p-button>
              <p-button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteProduct()"></p-button>
          </template>
      </p-dialog>
    </template>
  </div>
  



  <script src="https://unpkg.com/vue"></script>

  <!-- vuejs cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

  <script src="https://unpkg.com/primevue@2.3.0/datatable/datatable.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/columngroup/columngroup.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/column/column.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/row/row.umd.min.js"></script>
  <script src="https://unpkg.com/primevue@2.3.0/inputtext/inputtext.umd.min.js"></script>
  <script src="primevue/button.umd.min.js"></script>
  <script src="primevue/dialog.umd.min.js"></script>
  <script src="primevue/toast.umd.min.js"></script>
  <script src="primevue/toolbar.umd.min.js"></script>
  <!-- <script src="service/productService.js"></script> -->



  <script src="servicejs/vue-router.js"></script>
  <script src="servicejs/httpService.js"></script>

  <script src="asset/js/dash.js"></script>
  <style>
    .p-datatable .p-datatable-thead>tr>th {
      text-align: center;
      border-right:1px solid #e9ecef;
    }
    .p-datatable .p-datatable-tbody > tr > td {
      text-align: center;
      padding: 0.5rem 0.5rem;
    }
    [v-cloak] {display: none}
    
  </style>
</body>

</html>